@font-face {
  font-family: slugsRacer;
  src: url("./Slugs Racer.ttf");
}

:root {
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100dvh;
  font-family: slugsRacer;
  color: white;
  cursor: none;
  justify-content: center;
  margin: 0;
}

.image {
  width: 25%;
  position: absolute;
  z-index: -1;
  background-color: transparent;
  opacity: 70%;
}

p {
  justify-self: center;
  font-size: 3rem;
  margin: auto;
  width: max-content;
}

#timer {
  width: 820px;
  font-size: 4rem;
}